body {
  min-height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.clock {
  width: 500px;
  height: 500px;
  box-sizing: border-box;
  border: 25px solid red;
  border-radius: 50%;
  margin: 0 auto 0 auto;
}

.clock-face {
  height: 100%;
  position: relative;
  border: 1px solid black;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.hands-wrapper {


}

.hand {
  right: 50%;
  position: absolute;
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 50%;
  height: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  /*transition-timing-function: cubic-bezier(0.1, 2.7, .58, 1);*/
}

.second {
  background: red;
  z-index: 3;
}

.minute {
  background: black;
  z-index: 2;
}

.hour {
  background: green;
}

.cap-wrapper {

}

.cap {
  z-index: 4;
  width: 30px;
  height: 30px;
  background: black;
  border-radius: 50%;
}
