body,
.vh100 { min-height: 100vh; }

.square {
  height: 400px;
  width: 400px;
}

.clock {
  min-height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.clock-face {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border: 25px solid black;
}

.hands {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;/*necessary for safari (10.0.1 at time of writing); doesn't f with other browsers*/
}

.hands-cap-wrapper {
  display: -webkit-box;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.hands-cap {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  z-index: 3;
}

.hand-sec {
  width: 5px;
  height: 175px;
  background-color: red;
  z-index: 2;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;/*this is the only option that keeps all hands connected at same origin point*/
  /*transform-origin: 0 100%;*/
  /*transform-origin: 0 bottom;*/
}

.hand-min {
  width: 7px;
  height: 175px;
  background-color: black;
  z-index: 1;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;/*this is the only option that keeps all hands connected at same origin point*/
  /*transform-origin: 0 100%;*/
  /*transform-origin: 0 bottom;*/
}

.hand-hr {
  width: 7px;
  height: 125px;
  background-color: green;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;/*this is the only option that keeps all hands connected at same origin point*/
  /*transform-origin: 0 100%;*/
  /*transform-origin: 0 bottom;*/
}
