body {
  min-height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  justify-content: center;
}

.clock {
  width: 500px;
  height: 500px;
  border:25px solid black;
  border-radius:50%;
  padding: 2rem;
  box-sizing: border-box;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-5px); /* account for the height of the clock hands (negative half the height of each hand)*/
}

.hand {
  width:50%;
  height:10px;
  position: absolute;
  top:50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  /*transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);*/
  /*setting the above two properties via js to remove the animation reset when any hand reaches 90deg*/
}

.second {
  background: red;
  z-index: 3;
}

.minute {
  background: black;
  z-index: 2;
}

.hour {
  width: 35%;
  right: 50%;
  background: green;
}

.cap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: black;
  border-radius: 50%;
  margin: auto;
  transform: translateY(3.5px);/*center the cap over the hands as much as possible*/
  z-index: 10;
}

/*
  Previous cap method that used a wrapper for the cap placement.
  The current method achives the same placement via top, right, bottom, left,
  whereas the method below places the wrapper at 100% height and width.
  See http://codepen.io/nDav/pen/zvPJem for inspiration.

.cap-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(3.5px);(center the cap over the hands as much as possible)
  z-index: 4;
}

.cap {
  width: 50px;
  height: 50px;
  background: black;
  border-radius: 50%;
}*/
